<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is my html files
    </h1>
    <h2>{{ total }}</h2>//dynamic it can receive
    <form action="solution" method='post'>
        {% csrf_token %}
        <label>enter the first number</label>
        <input type="number" name ="number1">
        <br>
        <label>enter the second number</label>
        <input type="number" name ="number2">
        <br>
        <input type ="submit">
    </form>
</body>
</html>